<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <th:block th:insert="/fragments/head :: head"></th:block>
  <link rel="stylesheet" th:href="@{/css/new/race.css}">
  <title>編集</title>
</head>

<body>

  <div class="race_home">
      <h1>編集画面</h1>

      <form id="race-form" class="form-race" >

        <!-- 日付 -->
        <div class="data">
          <p>日　付</p>
          <p>:</p>
          <label for="date">
          <input type="date" class="form-control" />
          </label>
        </div>

        <!-- レース名 -->
        <div class="data">
          <p>レース名</p>
          <p>:</p>
          <label for="racing_name">
          <input type="text"  class="form-control" />
          </label>
        </div>

        <!-- レース場 -->
        <div class="data">
          <p>レース場</p>
          <p>:</p>
          <label for="racing_place">
          <input type="text"  class="form-control" />
          </label>
        </div>

        <!-- 支出額 -->
        <div class="data">
          <p>支出額</p>
          <p>:</p>
           <label for="expenditure">
          <input type="number"  class="form-control" />
          </label>
        </div>

        <!-- 収入 -->
        <div class="data">
          <p>収入額</p>
          <p>:</p>
          <label for="income_amount">
          <input type="number"  class="form-control" />
          </label>
        </div>

        <!-- 確定ボタン -->
        <div class=confirm_btn>
            <input type="submit" value="確定" class="btn btn-primary w20 mt-3" />
            <input type="submit" value="削除" class="btn btn-primary w20 mt-3" />
        </div>
      </form>
  </div>
</body>
</html>


