<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <th:block th:insert="/fragments/head :: head"></th:block>
  <link rel="stylesheet" th:href="@{/css/home/home.css}">
    <title>home</title>
</head>
<body class="text-center">
    <h1>Home</h1>

     <table class="table table-striped">
      <thead>
        <tr>
          <!-- <th>ID</th> -->
          <th>日付</th>
          <th>レース名</th>
          <th>レース場</th>
          <th>支出額</th>
          <th>収入額</th>
        </tr>
      </thead>
      <tbody>
        <tr th:each="racingmodel : ${infos}" th:object="${racingmodel}" class="align-middle">
          <!-- <td th:text="*{id}"></td> -->
          <td th:text="*{#dates.format(date, 'yyyy/MM/dd')}"></td>
          <td th:text="*{racing_name}"></td>
          <td th:text="*{racing_place}"></td>
          <td th:text="*{expenditure}"></td>
          <td th:text="*{income_amount}"></td>
        </tr>
      </tbody>
    </table>

   <!--  <table class="table table-striped dateinfos">
      <thead>
        <tr>
          <th>ID</th>
          <th>日付</th>
          <th>レース名</th>
          <th>レース場</th>
          <th>支出額</th>
          <th>収入額</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr th:each="racingmodel : ${dateinfos}" th:object="${racingmodel}" class="align-middle">
          <td th:text="*{id}"></td>
          <td th:text="*{date}"></td>
          <td th:text="*{racing_name}"></td>
          <td th:text="*{racing_place}"></td>
          <td th:text="*{expenditure}"></td>
          <td th:text="*{income_amount}"></td>
        </tr>
      </tbody>
    </table> -->

      <table class="table table-striped dateinfos">
      <thead>
        <tr>
          <th>回数</th>
          <th>支出額</th>
          <th>収入額</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr th:each="racingmodel : ${suminfos}" th:object="${racingmodel}" class="align-middle">
          <td th:text="*{id}"></td>
          <td th:text="*{expenditure}"></td>
          <td th:text="*{income_amount}"></td>
        </tr>
      </tbody>
    </table>

    <form th:action="@{/date}" th:object="${infos}" th:method="get">
     <label for="request-month">範囲</label>
     <input type="month" name="requestMonth" id="requestMonth">
     <button type="submit">決定</button>
    </form>

    <!-- 新規登録 -->
    <div class="btn-a">
    <a th:href="@{'/new/race'}">レース情報登録</a>
    </div>

</body>
</html>