<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <th:block th:insert="/fragments/head :: head"></th:block>
    <link rel="stylesheet" th:href="@{/css/home/home.css}">
    <title>home</title>
</head>
<body class="text-center">
    <h1>Home</h1>

    <div class="tab-wrap">
    <input type="radio" id="TAB01" name="TAB" class="tab-switch" value="TAB01" th:field="*{TAB01}" />
    <label class="tab-label" for="TAB01">日別</label>
    <div class="tab-content">
     <table class="table table-striped">
      <thead>
        <tr>
          <th>日付</th>
          <th>レース名</th>
          <th>レース場</th>
          <th>支出額</th>
          <th>収入額</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr th:each="racingmodel : ${infos}" th:object="${racingmodel}" class="align-middle">
          <td th:text="*{#dates.format(date, 'yyyy/MM/dd')}"></td>
          <td th:text="*{racing_name}"></td>
          <td th:text="*{racing_place}"></td>
          <td th:text="*{expenditure}"></td>
          <td th:text="*{income_amount}"></td>
          <td><a th:href="@{/edit/edit/{id}(id=*{id})}" class="btn btn-secondary">編集</a></td>
        </tr>
      </tbody>
    </table>
<form th:action="@{/date}" th:object="${infos}" th:method="get">
     <label for="request-month">範囲</label>
     <input type="month" name="requestMonth" id="requestMonth">
     <button type="submit">決定</button>
    </form>
    </div>

    <input  type="radio" id="TAB02" name="TAB" class="tab-switch" value="TAB02"  th:field="*{TAB01}"/>
    <label class="tab-label" for="TAB02">月間</label>
    <div class="tab-content">

    <table class="table table-striped dateinfos">
      <thead>
        <tr>
          <th>回数</th>
          <th>支出額</th>
          <th>収入額</th>
        </tr>
      </thead>

      <tbody>
        <tr th:each="racingmodel : ${monthinfos}" th:object="${racingmodel}" class="align-middle">
          <td th:text="*{cnt}"></td>
          <td th:text="*{exsum}"></td>
          <td th:text="*{incomesum}"></td>
        </tr>
      </tbody>
    </table>

    <form th:action="@{/month}" th:object="${infos}" th:method="get">
     <label for="request-month">月選択</label>
     <input type="month" name="requestMonth" id="requestMonth">
     <button type="submit">決定</button>
    </form>

    </div>

    <input type="radio" id="TAB03" name="TAB" class="tab-switch" value="TAB03" th:field="*{TAB01}"/>
    <label class="tab-label" for="TAB03" >年別</label>
    <div class="tab-content">
      <table class="table table-striped dateinfos">
      <thead>
        <tr>
          <th>回数</th>
          <th>支出額</th>
          <th>収入額</th>
        </tr>
      </thead>

      <tbody>
        <tr th:each="racingmodel : ${yearinfos}" th:object="${racingmodel}" class="align-middle">
          <td th:text="*{cnt}"></td>
          <td th:text="*{exsum}"></td>
          <td th:text="*{incomesum}"></td>
        </tr>
      </tbody>
    </table>

    <form th:action="@{/year}" th:object="${infos}" th:method="get">
     <label for="request-month">西暦</label>
     <input type="number" name="requestMonth" id="requestMonth" placeholder="例：2021">
     <button type="submit">決定</button>
    </form>
   </div>

</div>

    <!-- 新規登録 -->
    <div class="btn-a">
    <a th:href="@{'/new/race'}">レース情報登録</a>
    </div>

</body>
</html>